black[jupyter]
contextily
folium
geopandas
joblib
jupyter
jupyterlab_myst
jupytext
mapclassify
matplotlib
myst-nb
nbsphinx
numpy
pandas
pyogrio
shapely
sphinx
sphinx-book-theme
sphinx-design
xyzservices
zstandard
